<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>myLab Template</title>
	<meta name = "description" content = "">
	<meta name = "viewport" content = "width = device-width, initial-scale=1">
	<link rel = "stylesheet" href = "css/normalize.css">
	<link rel = "stylesheet" href = "css/font-awesome.min.css">
	<link rel = "stylesheet" href = "css/main.css">
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
</head>
<body>
	<!--========================================================================================-->
	<!--Start Header-->

		<header>

			<div class = "overly">
				
				<div class = "container">
					
					<nav>

						<div class ="logo">
							<span><i class = "fa fa-flask"></i></span><h3>my<span>Lab</span></h3>
						</div>
						
						<ul>
							<li><a href = "#">Home</a></li>
							<li><a href = "#">Portfolio</a></li>
							<li><a href = "#">Blog</a></li>
							<li><a href = "#">Shops</a></li>
							<li><a href = "#">Pages</a></li>
							<li><a href = "#">Features</a></li>
							<li><a href = "#">ShortCodes</a></li>
							<li><a href = "#">Contacts</a></li>
							<li><a href = "#"><i class = "fa fa-search"></i></a></li>
						</ul>
					</nav>

					<div class = "clearfix"></div>

					<div class = "intro">
						<h4>WELCOME TO <span>MYLAB</span></h4>
						<h1>GROW YOUR BUSINESS WITH US!</h1>
						<p>This is an example of how the paragraph on this template will look like once the wbsite is up and running. This is just a place holder for any information that will be needed to be displyed, when the customer chooses this template.</p>
						<button type = "button">GET STARTED</button>
					</div>

					<div class = "indicator">
						<a class = "selected" href = "#"></a>
						<a href = "#"></a>
						<a href = "#"></a>
						<a href = "#"></a>
					</div>
				</div>
			</div>
		</header>
	<!-- End Header-->

	<!--========================================================================================-->
	<!-- Start Services -->
		
		<section class = "services">

			<div class = "boxservices">
				<div>
					<span><i class = "fa fa-star"></i></span>
					<h3>CREATIVE DESIGN</h3>
					<p>This is a section that deals with a particular service that will be offered in this page and company.</p>
					<a href = "#">READ MORE<i class = "fa fa-angle-right"></i></a>
				</div>
			</div>

			<div class = "boxservices">
				<div>
					<span><i class = "fa fa-desktop"></i></span>
					<h3>FULLY RESPONSIVE</h3>
					<p>This is a section that deals with a particular service that will be offered in this page and company.</p>
					<a href = "#">READ MORE<i class = "fa fa-angle-right"></i></a>
				</div>
			</div>

			<div class = "boxservices">
				<div>
					<span><i class = "fa fa-arrows-alt"></i></span>
					<h3>MULTIPURPOSE</h3>
					<p>This is a section that deals with a particular service that will be offered in this page and company.</p>
					<a href = "#">READ MORE<i class = "fa fa-angle-right"></i></a>
				</div>
			</div>

			<div class = "boxservices">
				<div>
					<span><i class = "fa fa-gear"></i></span>
					<h3>AWESOME FEATURES</h3>
					<p>This is a section that deals with a particular service that will be offered in this page and company.</p>
					<a href = "#">READ MORE<i class = "fa fa-angle-right"></i></a>
				</div>
			</div>
		</section>
	
	<!-- End Services -->

	<div class = "clearfix"></div>

	<!--========================================================================================-->
	<!-- Start Portfolio -->

		<section class = "portfolio">
			<h2>OUR PORTFOLIO</h2>
			<p>This is and example of how the paragraph will look like in this section of the page when the page is up and running.</p>

			<div class = "menuphoto">
				<ul>
					<li><a href = "#">ALL</a></li>
					<li><a href = "#">WEB DESIGN</a></li>
					<li><a href = "#">GRAPHIC DESIGN</a></li>
					<li><a href = "#">LOGO</a></li>
					<li><a href = "#">PHOTOGRAPHY</a></li>
				</ul>

				<div class = "clearfix"></div>

				<div class = "gallery">
					<img src = "img/1.jpg" alt = "">
					<img src = "img/2.jpg" alt = "">
					<img src = "img/3.jpg" alt = "">
					<img src = "img/4.jpg" alt = "">

					<a href="#">LOAD MORE<i class = "fa fa-repeat"></i></a>
				<div>
			</div>
		</section>

	<!--End Portfolio -->

	<div class = "clearfix"></div>

	<!--========================================================================================-->
	<!-- Start Blog-->

		<section class = "blog">

			<div class = "overly">
				
				<div class = container>
					<div>
						<p>This is an example of how a paragraph will look like on this section when the website is complete and up and running </p>
						<button type = "button">GET STARTED</button>
					</div>
				</div>
			</div>
		</section>

	<!-- End Blog-->

	<div class = "clearfix"></div>

	<!--========================================================================================-->
	<!--Start Latest News-->

		<section class = "news">
			<h2>LATEST NEWS</h2>
			<p>This is an example of how this paragraph will look like in this section when the website is completed and up and running</p>
		
			<div class = "container">
				
				<div>
					<img src = "img/5.jpg" alt = "">
					<span>1 July 2018</span>
					<p>This is an exaple of how this paragraph will look in this section when the website is completed and up and running</p>
				</div>

				<div>
					<img src = "img/6.jpg" alt = "">
					<span>14 July 2018</span>
					<p>This is an exaple of how this paragraph will look in this section when the website is completed and up and running</p>
				</div>

				<div>
					<img src = "img/8.jpg" alt = "">
					<span>1 Auguest 2018</span>
					<p>This is an exaple of how this paragraph will look in this section when the website is completed and up and running</p>
				</div>
			</div>

			<div class = "clearfix"></div>
		</section>

	<!--End Latest News-->

	<div class = "clearfix"></div>

	<!--========================================================================================-->
	<!--Start Our Team-->
		
		<section class = "ourteam">
			<h2>OUR TEAM</h2>
			<p>This is an example of how a paragraph will look like on this section when the website is completed up and running</p>
		
			<div class = "container">

				<div>
					<img src = "img/BusinessBlackMan.jpg" alt = "">
					<h3>John Doe</h3>
					<span>Co-Founder</span>
				</div>

				<div>
					<img src = "img/BusinessWhiteMan.jpg" alt = "">
					<h3>John Doe</h3>
					<span>Co-Founder</span>
				</div>

				<div>
					<img src = "img/BusinessWoman.jpg" alt = "">
					<h3>Jane Doe</h3>
					<span>Co-Founder</span>
				</div>

				<div>
					<img src = "img/BusinessAsianMan.jpg" alt = "">
					<h3>John Doe</h3>
					<span>Co-Founder</span>
				</div>
			</div>
		</section>

	<!--End Our Team-->

	<div class = "clearfix"></div>

	<!--========================================================================================-->
	<!-- Start Our Skills -->

		<section class = "ourskills">
			<h2>OUR SKILLS</h2>
			<p>This is an example of how a paragraph will look like on this section when the website is completed up and running</p>
		
			<div class = "container">

				<div class = "leftskills">

					<div class = "technique">
						<h3>Web Design</h3>
						<h5>95%</h5>

						<div class = "clearfix"></div>

						<div>
							<span></span>
						</div>
					</div>

					<div class = "technique">
						<h3>Photoshop</h3>
						<h5>95%</h5>

						<div class = "clearfix"></div>

						<div>
							<span></span>
						</div>
					</div>

					<div class = "technique">
						<h3>Illustrator</h3>
						<h5>95%</h5>

						<div class = "clearfix"></div>

						<div>
							<span></span>
						</div>
					</div>

					<div class = "technique">
						<h3>Branding</h3>
						<h5>95%</h5>

						<div class = "clearfix"></div>

						<div>
							<span></span>
						</div>
					</div>
				</div>

				<div class = "rightskills">

					<div class = "technique">

						<h3>Web Development</h3>
						<h5>95%</h5>

						<div class = "clearfix"></div>

						<div>
							<span></span>
						</div>
					</div>

					<div class = "technique">
						<h3>WordPress</h3>
						<h5>50%</h5>

						<div class = "clearfix"></div>

						<div>
							<span style = "width: 50%"></span>
						</div>
					</div>

					<div class = "technique">
						<h3>Photography</h3>
						<h5>95%</h5>

						<div class = "clearfix"></div>

						<div>
							<span></span>
						</div>
					</div>

					<div class = "technique">
						<h3>Indesign</h3>
						<h5>95%</h5>

						<div class = "clearfix"></div>

						<div>
							<span></span>
						</div>
					</div>
				</div>
			</div>
		</section>
	<!-- End Our Skills -->

	<div class = "clearfix"></div>

	<!--========================================================================================-->
	<!--Start Count-->
	
		<section class = "count">

			<div class = "container">
				<div>
					<span><i class = "fa fa-smile-o"></i></span>
					<h3>25 646</h3>
					<span>Happy Customers</span>
				</div>

				<div>
					<span><i class = "fa fa-clock-o"></i></span>
					<h3>95 672</h3>
					<span>Hours in work</span>
				</div>

				<div>
					<span><i class = "fa fa-desktop"></i></span>
					<h3>64 862</h3>
					<span>Web pages</span>
				</div>

				<div>
					<span><i class = "fa fa-folder-open-o"></i></span>
					<h3>8 794</h3>
					<span>Projects</span>
				</div>
			</div>
		</section>

	<!--End Count-->

		<div class = "clearfix"></div>

	<!--========================================================================================-->
	<!--Start our team tow-->
		<section class = "ourteamtow">

			<h2>OUR TEAM</h2>
			<p>This is an example of how a paragraph will look like on this section when the website is completed up and running</p>
			
			<div class = "container">

				<div>
					<i class = "fa fa-quote-left"></i>

					<p>This is an exaple of how the paragraph will look as a quote from one of the employer/employees on what they do and the testimonies on the work that they do, giving a brief description.</p>
					
					<div class = "info">
						<img src = "img/placeholder.jpg" alt = "">
						<h3>JOHN DOE</h3>
						<span>Company Name</span>
					</div>
				</div>

				<div>
					<i class = "fa fa-quote-left"></i>

					<p>This is an exaple of how the paragraph will look as a quote from one of the employer/employees on what they do and the testimonies on the work that they do, giving a brief description.</p>
					
					<div class = "info">
						<img src = "img/placeholder.jpg" alt = "">
						<h3>JOHN DOE</h3>
						<span>Company Name</span>
					</div>
				</div>

				<div>
					<i class = "fa fa-quote-left"></i>

					<p>This is an exaple of how the paragraph will look as a quote from one of the employer/employees on what they do and the testimonies on the work that they do, giving a brief description.</p>
					
					<div class = "info">
						<img src = "img/placeholder.jpg" alt = "">
						<h3>JOHN DOE</h3>
						<span>Company Name</span>
					</div>
				</div>
			</div>
		</section>
	<!--End Our team tow-->

	<div class = "clearfix"></div>

	<!--========================================================================================-->
	<!-- Start Customers-->

		<section class = "customers">
			<div class = "overly">
				<h2>OUR CUSTOMERS</h2>
				<p>This is an example of how a paragraph will look like on this section when the website is completed up and running</p>
				<img src = "img/Partners.png" alt = "">
			</div>
		</section>

	<!-- End Customers-->

	<div class = "clearfix"></div>
	<!--========================================================================================-->
	<!-- Start Map-->
		<section class = "googlemap">

			<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14305.792889976015!2d28.1848557!3d-26.3119819!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1e951bb7eb75c35d%3A0x62d4cf324fcfb2f4!2s20+Reedbok+Ave%2C+Roodekop%2C+Germiston%2C+1401!5e0!3m2!1sen!2sza!4v1551166680354" width="100%" height="400px" frameborder="0" style="border:0" allowfullscreen></iframe>

		</section>

	<!--End Map-->

	<!--========================================================================================-->
	<!-- Start Footer-->
		<footer>
			<div class = "container">
				<div class = "menubottom">
					<ul>
						<li><a href = "#">Home</a></li>
						<li><a href = "#">Portfolio</a></li>
						<li><a href = "#">Blog</a></li>
						<li><a href = "#">Shops</a></li>
						<li><a href = "#">Pages</a></li>
						<li><a href = "#">Features</a></li>
						<li><a href = "#">ShortCodes</a></li>
						<li><a href = "#">Contacts</a></li>
					</ul>
				</div>

				<div class = "copyRights">
					<p>All Rights Reserved &copy; <a href = "#">myLab</p>
				</div>
			</div>
		</footer>
	<!-- End Footer-->

</body>
</html>